$blemil-primary: (
        "base": rgba(27, 117, 188, 1),
        "lighten-4":#99cccc,
        "lighten-3":#9999cc,
        "lighten-2":#6699cc,
        "lighten-1":#3399cc,
        "darken-1":#006699,
        "darken-2":#003366,
        "darken-3":#003333,
        "darken-4":#000033,
        "opacity-01": rgba(27, 117, 188, .1),
        "opacity-02": rgba(27, 117, 188, .2),
        "opacity-03": rgba(27, 117, 188, .3),
        "opacity-04": rgba(27, 117, 188, .4),
        "opacity-05": rgba(27, 117, 188, .5),
        "opacity-06": rgba(27, 117, 188, .6),
        "opacity-07": rgba(27, 117, 188, .7),
        "opacity-08": rgba(27, 117, 188, .8),
        "opacity-09": rgba(27, 117, 188, .9)
);

$blemil-pink-color: (
        "base":#ec018c
);

$blemil-gray-color: (
        "base": #cccccc,
        "darken-1": #999999,
        "darken-2": #666666,
        "darken-3": #333333,
);
$blemil-green-color: (
        "base": #009444,
        "lighten-1":#00c342,
        "lighten-2":#71d73d,
);
$shades: (
        "black": #000000,
        "white": #FFFFFF,
        "bluesecond":#67a0d0,
        "transparent": rgba(249, 249, 249, 0),
);

$colors: (
        "blemil-primary": $blemil-primary,
        "blemil-pink": $blemil-pink-color,
        "blemil-gray":$blemil-gray-color,
        "blemil-green":$blemil-green-color,
        "shades": $shades
);

// Color Classes

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    } @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }

    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
  .#{$color}-text a {
    color: $color_value !important;
  }
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}
