html {
  //font-family: "lato-regular", "Roboto", sans-serif;
}

body {
  background-image: url('../images/global/background.svg');
  background-size: 50%;
  background-color: $blemil-white;
}

p {
  margin: 0;
}

main.container {
  margin-bottom: 30px !important;
}

.padding-0 {
  padding: 0;
}

.content,article{
  ul {
    list-style-type: disc;
    -webkit-padding-start: 40px;
    li {
      list-style-type: disc;
    }
  }
}