@mixin background(){
  padding: 2px 10px;
  border-radius: 5px !important;
  border:1px solid $blemil-white;
}
.language{
  h2{
    display: none
  }
  ul li{
    opacity: 1 !important;
    border: none !important;
    a{
      @include  background;
     background: #409be4;
      color:$blemil-white;

    }
  }
  ul li.active{
    a{
      background: $blemil-white;
      color: $blemil-blue;
    }
  }
}
.language-mobile ul li a{
  line-height: 20px !important;
}
