/* Fonts
   ========================================================================== */
$fonts: (
        'lato-thin':"Lato thin",
        'lato-black':"Lato black",
        'lato-light':"Lato light",
        'lato-regular':"Lato regular",
        'lato-medium':"Lato Medium",
        'billy-bold':"Billy bold",
        'ionicons':"Ionicons",
);

@each $font-name, $font-call in $fonts {
  @font-face {
    font-family: $font-name;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/#{$font-name}.ttf') format('truetype');
  }
  .#{$font-name}-text {
    font-family: $font-name, sans-serif;
  }
}

$text-column-max: 4 !default;
@for $i from $text-column-max through 1 {
  .column-#{$i} {
    -webkit-column-count: $i; /* Chrome, Safari, Opera */
    -moz-column-count: $i; /* Firefox */
    column-count: $i;
  }
}

.column-text {
  @media screen and (max-width: $small-screen) {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;
}

.text-bold {
  @include bold();
}