/* --------------------------------------------------------
Animate

author: Tran Xuan Duc
email: duc.tran@maxgroup.vn or ductranxuan.29710@gmail.com
----------------------------------------------------------*/
$infinite-delay-max: 30;

@for $i from $infinite-delay-max through 1 {
  .infinite-delay-#{$i} {
    -webkit-animation-duration: #{$i}s;
    animation-duration: #{$i}s;
  }
}

@-webkit-keyframes swing-bottom {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing-bottom {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing-bottom {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-animation-name: swing-bottom;
  animation-name: swing-bottom;
}