/* --------------------------------------------------------
Box

author: Tran Xuan Duc
email: duc.tran@maxgroup.vn or ductranxuan.29710@gmail.com
----------------------------------------------------------*/
.border-box {
  @include bold();
  background: $blemil-blue;
  text-align: center;
  color: $blemil-white;
  font-family: "lato-black", sans-serif;
  font-size: 1.3rem;
  border: 7px $blemil-blue solid;
  border-radius: 20px;
  padding: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  .param {
    border: 2px $blemil-white dashed;
    padding: 20px 0 !important;
    border-radius: 20px;
    &:after, &:before {
      content: " • ";
      padding: 0 10px;
    }
  }

  &.border-box-before {
    margin-top: -80px;
    .param {
      padding-top: 50px !important;

      @media screen and (max-width: $small-screen) {
        margin-top: 20px;
      }
    }
  }

  @each $color_name, $color in $colors {
    @each $color_type, $color_value in $color {
      @if $color_type == "base" {
        &.#{$color_name} {
          background-color: $color_value !important;
          border: 7px $color_value solid;
        }
      } @else {
        .#{$color_name}.#{$color_type} {
          background-color: $color_value !important;
          border: 7px $color_value solid;
        }
      }
    }
  }
}

.shadow-box {
  background: $blemil-white; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-radial-gradient($blemil-white, $blemil-white, $blemil-transparent);
  /* For Opera 11.1 to 12.0 */
  background: -o-radial-gradient($blemil-white, $blemil-white, $blemil-transparent);
  /* For Fx 3.6 to 15 */
  background: -moz-radial-gradient($blemil-white, $blemil-white, $blemil-transparent);
  /* Standard syntax */
  background: radial-gradient($blemil-white, $blemil-white, $blemil-transparent);

  @each $color_name, $color in $colors {
    @each $color_type, $color_value in $color {
      @if $color_type == "base" {
        &.#{$color_name} {
          background: $color_value; /* For browsers that do not support gradients */
          /* For Safari 5.1 to 6.0 */
          background: -webkit-radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
          /* For Opera 11.1 to 12.0 */
          background: -o-radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
          /* For Fx 3.6 to 15 */
          background: -moz-radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
          /* Standard syntax */
          background: radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
        }
      } @else {
        &.#{$color_name}.#{$color_type} {
          background: $color_value; /* For browsers that do not support gradients */
          /* For Safari 5.1 to 6.0 */
          background: -webkit-radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
          /* For Opera 11.1 to 12.0 */
          background: -o-radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
          /* For Fx 3.6 to 15 */
          background: -moz-radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
          /* Standard syntax */
          background: radial-gradient($color_value, $color_value, $color_value, $color_value, $blemil-transparent);
        }
      }
    }
  }

  &.box-width-chicken {
    padding-left: 12%;
    position: relative;
    padding-right: 12%;
    img {
      &.chicken-left {
        position: absolute;
        overflow: hidden;
        left: -100px;
        top: 40%;
        display: inline-block;
        vertical-align: middle;
      }
      &.chicken-right {
        position: absolute;
        overflow: hidden;
        right: -110px;
        top: 40%;
        display: inline-block;
        vertical-align: middle;
      }

    }

    .box-content {
      padding: 20px;
      position: relative;
      .param {
        text-align: justify;
        text-align-last: center;
      }
    }
  }
  .research-trapezoid {
    position: relative;
    padding: 60px;
    img.trapezoid {
      position: absolute;
      padding-top: 50px;
    }
    .logo {
      color: $blemil-white;
      font-family: "lato-black", sans-serif;
      font-size: 2rem;
      text-shadow: 1px 1px $blemil-black;

      i.logo-blemil {
        vertical-align: middle;
      }

      span {
        padding-left: 10px;
      }
    }
    .products-right {
      position: absolute;
      width: 50%;
      z-index: 999999;
      img {
        &.blemil-product {
          margin-top: -90px;
          margin-left: 15px;
          margin-bottom: -50px;
        }
        &.chicken {
          position: absolute;
          max-height: 85px;
          right: 125px;
        }
      }
    }
    .products-left {
      position: absolute;
      width: 40%;
      margin-left: 40%;
      z-index: 999999;

      img {
        &.blemil-product {
          margin-top: -90px;
          margin-left: 15px;
          margin-bottom: -50px;
        }
        &.chicken {
          position: absolute;
          max-height: 85px;
          left: 90px;
        }
      }
    }

  }

  .research-trapezoid-mobile {
    position: relative;
    padding-bottom: 30px;

    .logo {
      color: $blemil-white;
      font-family: "lato-black", sans-serif;
      font-size: 2rem;
      text-shadow: 1px 1px $blemil-black;
      position: relative;
      top: 100px;

      @media screen and (max-width: 376px) {
        top: 80px;
      }
      i.logo-blemil {
        vertical-align: middle;
      }

      span {
        padding-left: 10px;
      }
    }

    .blemil-product {
      position: absolute;
      max-width: 80px;
      left: 42%;
      @media screen and (max-width: 376px) {
        max-width: 60px;
      }
    }
    .readmore {
      position: relative;
      top: 110px;
      margin: 0;

      @media screen and (max-width: 376px) {
        top: 80px;
      }
    }
  }
}

.logo-blemil {
  width: 95px;
  content: url('../images/header/logo.png');
  &.large {
    width: 120px;
  }
  &.medium {
    width: 80px;
  }
  &.tiny {
    width: 50px;
  }
}
