.error404{
  .banner{
    display: none;
  }
  .hotline{
    display: none;
  }
  .page-content-error{
    padding:50px;
    .blemil-error-text{
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom:10px;
      i{
        font-size: 32px;
        padding-right:10px
      }

      }
    .link-home-error{
      &:hover{
        color:blue !important;
      }
    }

  }
}