@mixin chickend{
  position: absolute;
  bottom: 33%;
  max-height: 85px;
}
@mixin line{
  position: absolute;
  top: -43px;
  z-index: -23;
}
$opacity_default:0.8;
$opacity_hover:1;
.border-box-color{
  border:1px dashed $blemil-white;
}
.chickend-left{
  @include  chickend;
  left: 0px;
}
.chickend-right{
  @include  chickend;
  right: 0px;
}
.list-product{
  .active{
    opacity: $opacity_hover !important;
  }
  .three-product{
    padding:0px 30px
  }
  .product{
    opacity: $opacity_default;
    position: relative;
    .logo{
      position: absolute;
      width: 100%;
      left: 0px;
      text-align: center;
      bottom: 3%;
      color: #FFFFFF;
      font-family: "lato-black", sans-serif;
      font-size: 2rem;
      text-shadow: 1px 1px #000000;
    };
    .solid-width-arrow{
      position: absolute;
      bottom: 0px;
      left: 4%;
    }
    &:hover{
      opacity: 1;
    }
  }

  position: relative;
  margin-top:60px;
  .bg-product{
    width: 90%;
    position: absolute;
    bottom: -18px;
    left: 5%;
    height: 209px;
    z-index: -1;
  }
}
.content-product{
  margin-top:36px;
  .tab-content-product{
    margin-top: 47px;
    padding-right: 10%;
    .active{ background: $blemil-pink !important;}
    li{
      &:hover{
        background: $blemil-pink !important;
      }
      padding:5px;
      margin-top:20px;
      .border-li{
        cursor:pointer;
        position: relative;
        text-align: left;
        padding: 10px 19px;
        i{
          position: absolute;
          right: 0px;
          font-size: 25px;
          width: 33px;
        }
      }
    }


  }
  .blemil-title-product{
    position: relative;
    text-align: center;
    .blemil-line-left{
      left:10%;
      @include line;
    }
    .blemil-line-right{
      right: 10%;
      @include line;
    }
    padding: 5px;
    h5{
      text-transform: uppercase;
    }
  }
  .text-content-product{
    padding-top:20px;
    .text-content-product-left{
      text-align: justify;
    }
  }
}
//tabs
.tab-content{

  .tab-body-content{
    display: none;
  }
  .active{
    display: block;
  }
}
//responsive
@media screen and (max-width: 900px){
  .tab-content-product{
    padding-right: 0px !important;
  }

}
@media screen and (max-width: 480px){
  .tab-content-product{
    padding-right: 21px !important;
  }

}