.widgets{
  margin-bottom:28px;
  h2{
    margin-top: 0px;
    padding: 14px 22px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    &:before{
      content: '';
      height: 100%;
      width: 3px;
      position: absolute;
      left: 2%;
      background: $blemil-white;
      z-index: 9;
      bottom: 0px;
      display: block;
  }
  }
  ul{
    li{margin-bottom:9px;
    .text-left-sidebar{
      padding-left: 0px;
      a{
        color: $blemil-black;
        &:hover{
          color:$blemil-green;
        }
      }
    }
    }
  }
  .tab-content-product
  {
    padding: 0px 30px;
    @media screen and (max-width:480px){
      padding:0px !important;
    }

   li{
    &.active{
      border-bottom:1px solid $blemil-green;
      a{
        color: $blemil-green;
      }
    };
    cursor: pointer;
    text-align: center;
    a{
      text-transform:uppercase;
      color: $blemil-black;
    }
   }
  }
  .content-widget{
      li{
        @media screen and (max-width:480px){
         text-align: center;
        }

      };
    img{
      @media screen and (max-width:480px){
        width:100%
      }
    }

  }
}